<div class="container">
  <h1>Add User</h1>
  <div class="row">
    <div class="clo-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" class="form-control" formControlName="firstname">
          <span *ngIf="!addUserForm.get('firstname').valid && addUserForm.get('firstname').touched"
            class="help-block">Please enter a valid first name</span>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname">
          <span *ngIf="!addUserForm.get('lastname').valid && addUserForm.get('lastname').touched"
            class="help-block">Please enter a valid last name</span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <span *ngIf="!addUserForm.get('email').valid && addUserForm.get('email').touched" class="help-block">Please
            enter a valid email</span>
        </div>
        <div class="form-group">
          <label for="phonenumber">Phone Number</label>
          <input type="text" id="phone-number" class="form-control" formControlName="phonenumber">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" formControlName="address">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" class="form-control" formControlName="city">
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" class="form-control" formControlName="state">
        </div>
        <div class="form-group">
          <label for="zip">Zip</label>
          <input type="text" id="zip" class="form-control" formControlName="zip">
        </div>
        <button [disabled]="!addUserForm.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
