<div class="container-fluid">
  <h1>User list</h1>
  <form action="">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userService.userData">
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/user-details']">User details</button>
            <button type="button" class="btn btn-danger" [routerLink]="['/delete']">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="btn btn-success" [routerLink]="['/add-user']">Add New User</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
