<div class="container-fluid">

<table class="table">
  <thead class="thead-light">
    <tr>
      
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>watson</td>
      <td>Mark</td>
      <td>Otto</td>
      <td><button type="button" class="btn btn-primary">User details</button><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <td>watson</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>watson</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div><button type="button" class="btn btn-success">Add New User</button></div>
</div>